.floting {
  animation: flot 5s infinite;
}
@keyframes flot {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0e111b;
  overflow: hidden;
}
.background span {
  width: 25vmin;
  height: 25vmin;
  border-radius: 25vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(0) {
  color: #95b5d6;
  top: 51%;
  left: 97%;
  animation-duration: 282s;
  animation-delay: -302s;
  transform-origin: 5vw -16vh;
  box-shadow: 50vmin 0 7.08984415884054vmin currentColor;
}
.background span:nth-child(1) {
  color: #0d435e;
  top: 53%;
  left: 74%;
  animation-duration: 75s;
  animation-delay: -458s;
  transform-origin: 15vw -1vh;
  box-shadow: 50vmin 0 6.50909471411838vmin currentColor;
}
.background span:nth-child(2) {
  color: #0d435e;
  top: 33%;
  left: 37%;
  animation-duration: 214s;
  animation-delay: -362s;
  transform-origin: -15vw -11vh;
  box-shadow: 50vmin 0 6.360340289476164vmin currentColor;
}
.background span:nth-child(3) {
  color: #95b5d6;
  top: 24%;
  left: 12%;
  animation-duration: 29s;
  animation-delay: -272s;
  transform-origin: 10vw 20vh;
  box-shadow: -50vmin 0 6.411821782161383vmin currentColor;
}
.background span:nth-child(4) {
  color: #0d435e;
  top: 5%;
  left: 64%;
  animation-duration: 443s;
  animation-delay: -167s;
  transform-origin: -13vw -22vh;
  box-shadow: -50vmin 0 6.849028429557085vmin currentColor;
}
.background span:nth-child(5) {
  color: #0d435e;
  top: 37%;
  left: 92%;
  animation-duration: 143s;
  animation-delay: -203s;
  transform-origin: 22vw 17vh;
  box-shadow: -50vmin 0 7.175096493053041vmin currentColor;
}
.background span:nth-child(6) {
  color: #0d435e;
  top: 90%;
  left: 98%;
  animation-duration: 478s;
  animation-delay: -179s;
  transform-origin: -1vw -10vh;
  box-shadow: -50vmin 0 6.362051866637733vmin currentColor;
}
.background span:nth-child(7) {
  color: #0d435e;
  top: 21%;
  left: 30%;
  animation-duration: 25s;
  animation-delay: -86s;
  transform-origin: 22vw -17vh;
  box-shadow: 50vmin 0 6.415096390071936vmin currentColor;
}

/* ------------------------------------------------------------------ */
:root {
  --pr-color: #27acf4;
}
/* mobile screen */
@media (max-width: 768px) {
  .nav-button {
    padding: 7px 12px;
    margin-bottom: 10px !important;
  }
  .logo {
    height: 50px !important;
    width: 50px !important;
  }
  .img-card::before {
    width: 200px !important;
  }

  .vid-card::before {
    width: 150px !important;
  }

  .ticker-container {
    box-shadow: 0 2px 25px var(--pr-color);
  }

  .ticker-container:hover {
    padding-block: 10px;
  }
  .flot-1 {
    top: 11% !important;
    left: 13% !important;
  }
  .logo-1 {
    width: 60px !important;
    height: 60px !important;
  }
  .flot-2 {
    top: 34% !important;
    left: 25% !important;
  }
  .logo-2 {
    width: 75px !important;
    height: 75px !important;
  }
  .flot-3 {
    top: 10% !important;
    right: 16% !important;
  }
  .logo-3 {
    width: 88px !important;
    height: 77px !important;
  }
  .flot-4 {
    top: 25% !important;
    right: 14% !important;
  }
  .logo-4 {
    width: 46px !important;
    height: 52px !important;
  }
  .flot-5 {
    top: 76% !important;
    right: 14% !important;
  }
  .logo-5 {
    width: 100px !important;
    height: 45px !important;
  }
  .flot-6 {
    top: 62% !important;
    right: 40% !important;
  }
  .logo-6 {
    width: 50px !important;
    height: 50px !important;
  }
  .flot-7 {
    top: 71% !important;
    right: 67% !important;
  }
  .logo-7 {
    width: 50px !important;
    height: 50px !important;
  }
}
.nav-button {
  text-align: center;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--pr-color);
  overflow: hidden;
  border-radius: 50%;
  color: var(--pr-color);
  transition: all 0.3s ease-in;
  padding: 10px 15px;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
}

.type1::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.2s ease-in;
  background-color: var(--pr-color);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.nav-button:hover {
  box-shadow: 1px 1px 20px var(--pr-color);
  color: #fff;
}
.nav-button-active {
  background-color: var(--pr-color);
  box-shadow: 1px 1px 20px var(--pr-color);
  color: #fff;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.logo {
  background-image: url(../assets/imgs/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 80px;
}
.text-card {
  background: rgba(14, 17, 27, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(14, 17, 27, 0.3);
  position: relative;
}
@keyframes border-shine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}
.img-card {
  background: rgba(14, 17, 27, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* border: 1px solid var(--pr-color); */
  padding: 3px;
  width: 85% !important;
}

.img-card::before {
  position: absolute;
  content: " ";
  display: block;
  width: 450px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--pr-color),
    var(--pr-color),
    var(--pr-color),
    var(--pr-color),
    transparent
  );
  animation: rotation 5000ms infinite linear;
  z-index: -1;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.text-card::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    115deg,
    transparent 0%,
    transparent 40%,
    var(--pr-color) 50%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: opacity 0.3s ease;
  opacity: 10%;
  pointer-events: none;
  animation: border-shine 10s linear infinite;
}
/* -------------------------------------------------------------------------- */
.vid-card {
  background: rgba(14, 17, 27, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* border: 1px solid var(--pr-color); */
  padding: 3px;
}

.vid-card::before {
  position: absolute;
  content: " ";
  display: block;
  width: 250px;
  height: 360%;
  background: linear-gradient(
    45deg,
    transparent,
    transparent,
    var(--pr-color),
    transparent,
    transparent
  );
  animation: rotation 8000ms infinite linear;
  z-index: -1;
}
.vid-frame {
  border-radius: 14px;
  width: 99%;
  height: 99%;
  object-fit: fill;
  object-position: center;
}

.social-card {
  width: 100% !important;
}

.media-card {
  background: rgba(14, 17, 27, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(14, 17, 27, 0.3);
  transition: all 0.3s ease-in-out;
}

.media-card::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    115deg,
    transparent,
    transparent,
    var(--pr-color) 50%,
    var(--pr-color) 50%,
    transparent,
    transparent
  );
  background-size: 200% 100%;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: opacity 0.3s ease;
  opacity: 10%;
  pointer-events: none;
}
.media-card:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid #27acf480;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.tube::before {
  animation: border-shine 10.9s linear infinite;
}
.face::before {
  animation: border-shine 10.6s linear infinite;
}
.whats::before {
  animation: border-shine 10.3s linear infinite;
}
.tik::before {
  animation: border-shine 10s linear infinite;
}
.media-card:active {
  transform: scale(0.9);
  background-color: #27acf441;
}
.media-card:hover .facebook {
  color: #4267b2;
}

.media-card:hover .bi-facebook {
  color: #4267b2;
}

.media-card:hover .youtube {
  color: #ff0000;
}

.media-card:hover .bi-youtube {
  color: #ff0000;
}
.media-card:hover .whatsapp {
  color: #25d366;
}

.media-card:hover .bi-whatsapp {
  color: #25d366;
}

.media-card:hover .bi-tiktok {
  color: #000000;
}

.ticker-container {
  width: 100dvw;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  direction: ltr;
  padding-block: 15px;
  background: rgba(2, 53, 80, 0.144);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 30px var(--pr-color);
}

.ticker-container:hover {
  background: rgba(2, 53, 80, 0.3);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  padding-block: 20px;
}
.ticker-track {
  display: flex;
  align-items: center;
  white-space: nowrap;
  will-change: transform;
  gap: 2rem;
  animation: ticker 80s linear infinite;
}
.aimg {
  height: 100%;
  width: 150px;
  display: inline-block;
}
.aimg img {
  height: 150px;
  width: 150px;
  filter: grayscale(100%);
  /* margin: 0 20px; */
}

.aimg img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* --------------------------------------------------------------------------  */
.hero {
  /* background: linear-gradient(-45deg, #0e111b, #045581a3, #0e111b, #00334f);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  overflow: hidden; */
  position: relative;
  background: #0e111b;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.shooting-star {
  position: absolute;
  top: -50px;
  left: -100px;
  width: 2px;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(45deg);
  animation: shoot 15s linear infinite;
  opacity: 0.8;
  z-index: 2;
  pointer-events: none;
}

.shooting-star2 {
  position: absolute;
  top: -50px;
  right: 800px;
  width: 2px;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  transform: rotate(45deg);
  animation: shoot2 20s linear infinite;
  opacity: 0.8;
  z-index: 2;
  pointer-events: none;
}

@keyframes shoot {
  0% {
    transform: translate(0, 0) rotate(125deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(5000px, 4000px) rotate(125deg);
    opacity: 0;
  }
}
@keyframes shoot2 {
  0% {
    transform: translate(0, 0) rotate(130deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(600px, 600px) rotate(130deg);
    opacity: 0;
  }
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent
    url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  animation: twinkle 5s infinite ease-in-out;
  opacity: 0.3;
  pointer-events: none;
  z-index: 1;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
.flot-card {
  position: absolute;
  perspective: 1000px;
  animation: float 6s ease-in-out infinite;
  /* border-radius: 50%;
  background: rgba(39, 172, 244, 0.177);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(39, 172, 244, 1);
  box-shadow: 1px 2px 10px 1px rgba(39, 172, 244, 1); */
}
.flot-card:hover {
  animation-play-state: paused;
  /* scale: 1.1; */
  filter: drop-shadow(0 8px 16px rgba(39, 172, 244, 0.8));
}
.floating-logo {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: glowSky 3s ease-in-out infinite;
}
@keyframes glowSky {
  0% {
    filter: drop-shadow(0 8px 16px rgba(39, 172, 244, 0.389));
  }
  50% {
    filter: drop-shadow(0 8px 16px rgba(39, 172, 244, 0.8));
  }
  100% {
    filter: drop-shadow(0 8px 16px rgba(39, 172, 244, 0.439));
  }
}

.flot-1 {
  top: 14%;
  left: 13%;
  animation-delay: 0.5s;
}
.logo-1 {
  background-image: url(../assets/imgs/logos/1canva.png);
  width: 80px;
  height: 80px;
}
.flot-2 {
  top: 26%;
  left: 38%;
  animation-delay: 1.2s;
}
.logo-2 {
  background-image: url(../assets/imgs/logos/2gemini.png);
  width: 90px;
  height: 90px;
}
.flot-3 {
  top: 12%;
  right: 30%;
  animation-delay: 0.3s;
}
.logo-3 {
  background-image: url(../assets/imgs/logos/3runway.png);
  width: 115px;
  height: 110px;
}
.flot-4 {
  top: 30%;
  right: 14%;
  animation-delay: 1.4s;
}
.logo-4 {
  background-image: url(../assets/imgs/logos/4davinciResolve.png);
  width: 70px;
  height: 70px;
}
.flot-5 {
  top: 70%;
  right: 14%;
  animation-delay: 0.5s;
}
.logo-5 {
  background-image: url(../assets/imgs/logos/5freepik.png);
  width: 150px;
  height: 75px;
}
.flot-6 {
  top: 53%;
  right: 87%;
  animation-delay: 1.6s;
}
.logo-6 {
  background-image: url(../assets/imgs/logos/6higgsfield.png);
  width: 70px;
  height: 70px;
}
.flot-7 {
  top: 69%;
  right: 70%;
  animation-delay: 0.7s;
}
.logo-7 {
  background-image: url(../assets/imgs/logos/7sora.png);
  width: 70px;
  height: 70px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.main__action .main__scroll-box {
  animation: scroll-down 2s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0%,
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
/* -------------------------------------------------------------------------- */

.flip-card {
  position: relative;
  width: 220px;
  height: 280px;
  background-color: #171a24 !important;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  perspective: 1000px;
}
.flip-card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -2.5px;
  margin: auto;
  width: 225px;
  height: 285px;
  border-radius: 10px;
  background-color: var(--pr-color);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flip-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: var(--pr-color);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.flip-card:hover::after {
  filter: blur(30px);
}

.flip-card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid var(--pr-color);
  border-radius: 1rem;
}

.flip-card-front {
  background-color: #171a24 !important;
  color: var(--pr-color);
}

.flip-card-back {
  background-color: #171a24 !important;
  transform: rotateY(180deg);
}
